<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>StudentRegistration</servlet-name>
    <servlet-class>StudentRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentRegistrationServlet</servlet-name>
    <servlet-class>StudentRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>printExcel</servlet-name>
    <servlet-class>printExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>printExcel</servlet-name>
    <url-pattern>/printExcel</url-pattern>
  </servlet-mapping>
  
  
</web-app>
