<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>ClientAccessCounts</servlet-name>
<servlet-class>ex_2_cookie.ClientAccessCounts</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ClientAccessCounts</servlet-name>
<url-pattern>/ClientCounts</url-pattern>
</servlet-mapping>
</web-app>